<div ng-controller="MainCtrl" ng-init="loadData()">
<div class="container">
<div class="form-group">
<input type="text" class="form-control" ng-model="searchText" placeholder="Search Text">
</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
      <td></td>
      <td><b>Name</b></td>
      <td><b>Position</b></td>
      <td><b>Organization</b></td>
      <td><b>Location</b></td>
      <td><b>Facebook Profile</b></td>
      <td><b>LinkedIn Profile</b></td>
    </tr>

	</thead>
  <tbody ng-repeat="value in studentData | orderObjectBy:order_item:order_reverse | filter:customFilter(searchText)" >
    <tr>
      <th scope="row"><img src="{{value.Link_To_Profile_Image}}" height="100"></th>
      <td>{{value.Name}}({{value.Department}})</td>
      <td>{{value.Position}}</td>
      <td>{{value.Organization}}</td>
      <td>{{value.Location}}</td>
      <td><a href="{{value.Facebook_Profile}}" target="_blank"><img src="logos/fb.png" height="40"></a></td>
      <td><a href="{{value.Linkedin_Profile}}" target="_blank"><img src="logos/linkedin.png" height="40"></a></td>
    </tr>
    <tr>
    	<td colspan="100%">{{value.History_and_brief_bio}}</td>
    </tr>

  </tbody>
</table>
</div>